body {
height: 100vh;
font-family: 'Orbitron', sans-serif;
}


.bg-image {
  background-image: url("https://images.pond5.com/coal-background-coal-mine-open-footage-089174511_prevstill.jpeg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#top {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #3391ff;
  margin-top: 1em;
}
/* #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
} */
#blue-steel {
  display: flex;
  align-content: center;
  padding: 0;
  max-width: 100%;
  height: auto;
  box-sizing: content-box;
}

#upgrades {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 2em;
  margin-top: 5em;
}

#scoreboard {
  display: flex;
  align-items: center;
  margin-left: 3em;
  margin-top: 3em;
  color: #3391ff;
}